tags
weechat/.weechat/sec.conf
weechat/.weechat/weechat.log
weechat/.weechat/logs
weechat/.weechat/weechat_fifo*
weechat/.weechat/script/plugins.xml.gz
cmus/.config/cmus/autosave
cmus/.config/cmus/cache
cmus/.config/cmus/command-history
cmus/.config/cmus/playlist.pl
cmus/.config/cmus/search-history
cmus/.config/cmus/lib.pl
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
